<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\Python311\python.exe|D:\home\site\wwwroot\fretamento_project\wsgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="DJANGO_SETTINGS_MODULE" value="fretamento_project.settings" />
    <add key="PYTHONPATH" value="D:\home\site\wwwroot" />
    <add key="DEBUG" value="False" />
    <add key="USE_DOCKER" value="False" />
  </appSettings>
</configuration>